:root {
	--primary: #f0c5b4;
	--black: #010101;
	--buttonPrimary: #ecd3c9;
	--buttonBorder: #e57dca;
	--white: #fff;
	--createBackground: #f7eded;
}

body {
	color: var(--black);
}

nav {
	float: left;
	width: 100%;
	position: sticky;
	top: 0;
	border-bottom: 2px solid;
	padding-block: 15px;
	z-index: 50;
	background-color: var(--white);
}

#nav-list {
	float: left;
	display: none;
	list-style: none;
	background-color: var(--primary);
	padding-right: 30px;
	padding-block: 40px;
	border-radius: 5px;
	/* text-align: center; */
}

#nav-lis li {
	margin-right: 40px;
	margin-top: 30px;
	display: block;
	padding: 30px 0;
}

#nav-list li a {
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 30px;
}

#check {
	display: none;
}

#check:checked ~ ul {
	/* right: 0; */
	display: block;
}

.burger-button {
	font-size: 3px;
	float: left;
	margin-left: 35px;
	line-height: 0px;
	cursor: pointer;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 4000, "GRAD" 0, "opsz" 48;
	color: var(--black);
}
